<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/applicationContext.properties</value>
				<value>classpath*:/mobileMediaShare.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" scope="singleton" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
	</bean>
	<!-- To bean dataSource metatrepetai apo to spring se java antikeimeno ston kwdika
	static final org.apache.commons.dbcp.BasicDataSource dataSource = new org.apache.commons.dbcp.BasicDataSource();
	dataSource.setDriverClassName(${jdbc.driver});
	dataSource.setUrl(${jdbc.url});

	...

	dataSource.close();
	-->
	<bean id="maxFileSize" class="java.lang.Integer" scope="singleton">
		<constructor-arg value="${max.file.size}" />
	</bean>
	<bean id="mediaDir" class="java.io.File" scope="singleton">
		<constructor-arg value="${media.dir}" />
	</bean>
	<bean id="mediaService" class="gr.uoa.di.std08169.mobile.media.share.server.MediaServiceImpl" scope="singleton">
		<!-- Epeidh exei setter dataSource kai tha parei bean me id to ref (etoimo dataSource) -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="userService" class="gr.uoa.di.std08169.mobile.media.share.server.UserServiceImpl" scope="singleton">
		<!-- Epeidh exei setter dataSource kai tha parei bean me id to ref (etoimo dataSource) -->
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>

