div.content {
	background-color: white;
	background-image: url('./images/body-bg.png');
	background-repeat:repeat;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	//background-color: rgb(225, 231, 238);
	background-color: whitesmoke;
	margin-right: auto;
	margin-left: auto;
	/*width: 850px;*/
	width: 1000px;
	min-height: 400px;
	border: 1px solid black;
	border-radius: 15px;
/*	-moz-border-radius: 15px;*/
	box-shadow: 3px 3px 3px black;
/*	-moz-box-shadow: 3px 3px 3px black;
	-webkit-box-shadow: 3px 3px 3px black;*/
}

/* header */
div.header {
	text-align: center;
}

/* logo */
div.logo {
	/* clear: both; */
	padding-bottom: 10px;
}

img.logo {
/*
	float: left;
	height: 128px;
	width: 128px;
	margin-bottom: 20px;
	margin-left: 40px; */
	width: 720px;
	box-shadow: 0 0 15px #888;
}

/*
h1 {
	float: right;
	margin-right: 10px;
}
*/

/* menu */
div.menu {
	clear: both;
	padding-bottom: 30px;
}

a.map, a.list, a.newPhoto, a.newVideo, a.upload, a.myAccount, a.logout {
	border: 1px solid grey;
	border-radius: 5px;
	margin: 2px;
	padding: 10px;
	text-decoration: none;
}

a.logout {
	position: absolute;
	float: right;
	top: 110px;
	margin: 5px;
	margin-left: 20px;
}

a.map:hover, a.list:hover, a.newPhoto:hover, a.newVideo:hover, a.upload:hover, a.myAccount:hover, a.logout:hover {
	background-color: #dee7f0;
}

img.mapImg, img.listImg, img.newPhotoImg, img.newVideoImg, img.uploadImg, img.myAccountImg, img.logoutImg {
	margin: 1px;
	padding-right: 5px;
	width: 35px;
	height: 35px;
	margin-bottom: -13px;
}

img.logoutImg {
	margin-top: -7px;
}

img.uploadImage {
	position: relative;
	left: 700px;
	top: 20px;
	height: 120px;
}

/* language select */
a.locale_el {
	float: right;
	margin: 5px;
	margin-left: 20px;
	position: absolute;
	top: 50px;
}

a.locale_en {
	margin: 5px;
	margin-left: 75px;
	position: absolute;
	top: 50px;
}

form {
	clear: both;
	text-align: center;
	padding-top: 20px;
	position: relative;
}

form.uploadForm {
	top: -100px;
}

span.label {
	position: absolute;
	right: 55%;
}

input.field, span.field {
	position: absolute;
	left: 46%;
}

form button {
	position: absolute;
	width: 90px;
}

.newUser {
	clear: both;
	text-align: center;
	padding-top: 50px;
	padding-left: 25px;
	position: relative;
}

.newUserButtons, .listButtons {
	margin-right: 10px;
	width: 90px;
}
/*list -- Search -- */

.search-filter {
	position: relative;
	padding-bottom: 50px;
}

.listField {
	position: absolute;
}

.listLabelCol1 {
	position: absolute;
	right: 81%; /* me dexia stoixish */
}

.listInputCol1 {
	position: absolute;
	left: 20%;
}

.listLabelCol2 {
	position: absolute;
	right: 51%;
}

.listInputCol2 {
	position: absolute;
	left: 51%;
}

.listLabelType {
	position: absolute;
	left: 71%;
}

.listInputType {
	position: absolute;
	left: 76%;
}

.pager {
	position: absolute;
	left: 42.5%;
}

img.listImage {
	float: right;
	height: 200px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 50px;
}

p {
	text-align: center;
	font-size: 18px;
}

.table {
	width: 250px;
	background-color: white;
	color: black;
	padding: 1px;
	border-spacing: 3px;
}

.foto {
	text-align: center;
}

div.map {
/*	position: relative;
	top: 180px;
//	padding-top: 100px; */
	top: 20px;
	width: 800px;
	height: 600px;
	left: 100px;
	/* margin-bottom: 80px; */
}

div.mediaMap {
	width: 640px;
	height: 480px;
	left: 180px;
	top: 80px;
	margin-bottom: 180px;
}

.photo {
	position: relative;
	left: 180px;
}

