<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>Mobile Media Share</display-name>
	<context-param> <!-- Gia to spring tis efarmoghs -->
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<!-- Xekinaei to spring me vash to arxeio pou vrisketai stin metavlhth perivallontos contextConfigLocation-->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<!-- Gia upodoxh twn login twn xrhstwn -->
		<servlet-name>userServlet</servlet-name>
		<servlet-class>gr.uoa.di.std08169.mobile.media.share.server.servlets.UserServlet</servlet-class>
 	</servlet>
	<servlet>
		<servlet-name>mediaServlet</servlet-name>
		<servlet-class>gr.uoa.di.std08169.mobile.media.share.server.servlets.MediaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mediaService</servlet-name> <!-- einai tou GWT -->
		<servlet-class>gr.uoa.di.std08169.mobile.media.share.server.servlets.MediaServiceServlet</servlet-class>
	</servlet>
	<!-- userService servlet pou einai tupou UserServiceImpl 
	(to UserServiceImpl ulopoiei to UserService) -->
	<servlet>
		<servlet-name>userService</servlet-name> <!-- einai tou GWT -->
		<servlet-class>gr.uoa.di.std08169.mobile.media.share.server.servlets.UserServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <!-- Denei sto url login to userServlet -->
	    <servlet-name>userServlet</servlet-name>
	    <url-pattern>/userServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>mediaServlet</servlet-name>
	    <url-pattern>/mediaServlet</url-pattern>
	</servlet-mapping>
	<!-- Akouei stin dieuthinsh /userService -->
	<servlet-mapping>
		<servlet-name>mediaService</servlet-name>
		<url-pattern>/mediaService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userService</servlet-name>
		<url-pattern>/userService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<!-- Me to pou xekinaei paei sto map.jsp -->
		<welcome-file>map.jsp</welcome-file>
	</welcome-file-list>
	<!-- Tha zhtaei h efarmogh na mhlaei MONO me https -->
	<security-constraint>
		<!-- Ti theloume na prostatepsoume -->
		<web-resource-collection>
			<web-resource-name>Mobile Media Share</web-resource-name>
			<!-- poia url tha einai kleidwmena (ta panta) -->
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- Periorismos sto pws tha phgenoerthontai ta dedomena 
			me tous xrhstes (clients) gia tin panw perioxh -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
